.c {
    float: right;
}

.ab {
        display: flex;
        align-items: center;
}
.mac {
    background-color: whitesmoke;
    height: 18%;
    width: 18%;
    padding: 4%;
    margin: 1%;
}

.p {
    text-align: center;
}
.pro {
    background-color: whitesmoke;
    height: 18%;
    width: 16%;
    padding: 5.3%;
    margin: 1%;
}
.cd {
    text-align: center;
}
.imac {
    background-color: whitesmoke;
    height: 22%;
    width: 16%;
    padding: 6.3%;
    margin: 1%;
}
.ef {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imacpro {
    background-color: whitesmoke;
    height: 22%;
    width: 15%;
    padding: 5.5%;
    margin: 1%;
}
.gh {
    
        display: flex;
        align-items: center;
    text-align: center;
}
.macpro {
    background-color: whitesmoke;
    height: 330px;
    width: 20%;
    padding: 3.5%;
    margin: 1%;
}
.kl {
    text-align: center;
}
.macmini {
    background-color: whitesmoke;
    height: 320px;
    width: 20%;
    padding: 4%;
    margin: 1%;
}
.prodisplay {
    background-color: whitesmoke;
    height: 320px;
    width: 20%;
    padding: 3%;
    margin: 1%;
}
.qr {
    text-align: center;
}
.trade {
    background-color: whitesmoke;
    height: 320px;
    width: 80%;
    padding: 3%;
    margin: 1%;
}
.yz {
    float: right;
}
.abc {
    
    display: flex;
    align-items: center;
text-align: center;
}
.bcd {
    background-color: whitesmoke;
    height: 320px;
    width: 20%;
    padding: 3%;
    margin: 1%;
}
.def {
    background-color: whitesmoke;
    height: 320px;
    width: 20%;
    padding: 3%;
    margin: 1%;
}
.fgh{
    background-color: whitesmoke;
    height: 320px;
    width: 20%;
    padding: 3%;
    margin: 1%;
}